html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#home {
    background-image: 
        linear-gradient(
            to right,
            rgb(238 34 12 / 55%),
            rgb(0 0 0 / 99%)), 
            url(../../img/jesse/jpg/jesse-james-2.1920x1080.jpg);
    background-position: center;
    .home_top{
        padding: .7rem 0;
        background-color: $color-black;
        p{
            color: $color-white;
            text-align: center;
            font-size: .8rem;
            font-family: $jj-font-2;
            margin-bottom: 0;
        }
    }
    .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .home_left_inner{
            h1{
                color: $color-white;
                font-family: $jj-font-1;
                font-weight: bold;
            }
            p{
                hyphens: auto;
                color: $color-white;
                word-break: break-all;
                font-family: $jj-font-2;
            }
            button{
                @include btn_yellow;
            }
        }
    }
    .home_right{
        position: absolute;
        right: 0;
        top: 2.4rem;
        form{
            width: 90%;
            margin: 1rem auto;
            z-index: 999;
            border-radius: 15%;
            background-color: $color-white;
            input{
                border-radius: .7rem;
                background-color: $color-white-dark-1;
            }
            button{
                @include btn_yellow;
            }
            h2{
                color: $color-jj-one;
                font-family: $jj-font-1;
            }
            p{
                @include peragraph;
            }
        }
    }
}
#videro_section{
    iframe{
        width: 100%;
        min-height: 20rem;
        max-height: 100%;
    }
    h3{
        @include heading_text;
    }
    p{
        @include peragraph;
    }
    .btn_red{
        @include button_red;
    }
    .btn_black{
        @include button_black;
    }
}
.courses_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .courses{
        width: 25rem;
        height: 15rem;
        position: relative;
        margin-right: 1rem;
        background-position: unset;
        background-repeat: no-repeat;
        background-image: url(../../img/jesse/jpg/jesse-james-2.414x896.jpg);
        h4{
            top: 50%;
            left: 50%;
            z-index: 1;
            font-size: 2rem;
            font-weight: bold;
            position: absolute;
            text-align: center;
            color: $color-white;
            font-family: $jj-font-2;
            text-transform: uppercase;
            transform: translate(-50%,-50%);
        }
        .left{
            img{
                left: 0;
                height: 15rem;
                position: absolute;
            }
        }
        .right{
            img {
                right: 0;
                height: 15rem;
                position: absolute;

            }
        }
    }
    .book_a_consultation{
        width: 25rem;
        height: 15rem;
        position: relative;
        background-position: unset;
        background-repeat: no-repeat;
        background-image: url(../../img/jesse/jpg/jesse-james-2.414x896.jpg);
        h4{
            top: 50%;
            left: 50%;
            z-index: 1;
            font-size: 2rem;
            font-weight: bold;
            position: absolute;
            text-align: center;
            color: $color-white;
            font-family: $jj-font-2;
            text-transform: uppercase;
            transform: translate(-50%,-50%);
        }
        .left{
            img{
                left: 0;
                height: 15rem;
                position: absolute;
                transform: rotate(180deg);

            }
        }
        .right{
            img {
                right: 0;
                height: 15rem;
                position: absolute;
                transform: rotate(180deg);

            }
        }
    }
}
#about{
    img{
        width: 90%;
        height: 110%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -2rem -2rem 0 0 $color-jj-one;
    }
    h3{
        @include heading_text;
    }
    p{
        @include peragraph;
    }
    button{
        @include btn_yellow;
    }
}
#book{
    background-image: 
    linear-gradient(
        to right,
        rgb(238 34 12 / 70%),
        rgb(238 34 12 / 70%)), 
        url(../../img/jesse/jpg/jesse-standing-3.1920x1080.jpg);
background-position: center;
    // .main_book{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    .book_text{
        // width: 50%;
        h1{
            color: $color-white;
            font-weight: bold;
            font-family: $jj-font-1;
        }
        p{
            color: $color-white;
        }
        button{
            @include btn_yellow;
        }
    }
    .book_image{
        // width: 50%;
        text-align: center;
    }
}
#benefits{
    .benefits_left{
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        h4{
            font-weight: bold;
            color: $color-jj-one;
            font-family: $jj-font-1;
            text-transform: uppercase;
        }
        p{
            @include peragraph;
        }
        button{
            @include btn_yellow;
        }
    }
    .benefits_right{
        h4{
            font-weight: bold;
            font-family: $jj-font-1;
            text-transform: uppercase;
        }
        p{
            @include peragraph;
        }
    }
}
#guarantee_banner{
    background: 
    linear-gradient(
        to right,
        rgb(238 34 12 / 55%),
        rgb(0, 0, 0));
        // url(../../img/jesse/jpg/jesse-james-1.414x896.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    .banner_left{
        height: 25rem;
        z-index: -1;
        background-image: 
        url(../../img/jesse/jpg/jesse-james-1.414x896.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .banner_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
       background-color: $color-black;
       h4{
        @include heading_text;
       }
       p{
        @include peragraph;
        color: $color-white;
       }
       button{
        @include btn_yellow;
       }
    }
}
#gurantee{
    i{
        color: $color-jj-one;
    }
    h4{
        font-weight: bold;
        text-align: center;
        color: $color-jj-one;
        font-family: $jj-font-1;
    }
    p{
        @include peragraph;
        text-align: center;
    }
    button{
        @include btn_yellow;
    }
}
#testimonial_slider{
    background-color: $color-jj-one;
    .carousel-item{
        padding: 7% 20%;
    }
    i{
        color: $color-white;
        text-align: center;
    }
    p{
        font-size: 1rem;
        font-weight: 500;
        color: $color-white;
        font-family: $jj-font-2;
    }
    span{
        font-weight: 500;
        font-size: 1.2rem;
        text-align: left;
        color: $color-white;
        font-family: $jj-font-2;
    }
}
#testimonials{
    .testimonial_top{
        h3{
            @include heading_text;
        }
        p{
            @include peragraph;
        }
    }
    iframe{
        width: 100%;
        min-height: 20rem;
        max-height: 100%;
    }
    h3{
        @include heading_text;
    }
    p{
        @include peragraph;
    }
    .btn_red{
        @include button_red;
    }
    .btn_black{
        @include button_black;
    }

}
#accordion{
    .accordion-button{
        font-weight: bold;
        font-size: 1.5rem;
        color: $color-jj-one;
        font-family: $jj-font-1;
    }
    .accordion-button:focus {
        border-color: $color-jj-one;; 
        box-shadow: none; 
    }
    .accordion-button:not(.collapsed) {
        background-color: $color-white;
    }
    .accordion-button::before {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1.5rem;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform 0.2s ease-in-out;
    }
    .accordion-button:not(.collapsed)::before {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-90deg);
        color: $color-jj-one;
    }
    .accordion-button::after{
        display: none;
    }
    .accordion-body {
        padding: 1rem 4.25rem;
        @include peragraph;
    }
}
footer{
    .social_icon{
        i{
            padding: .5rem;
            border-radius: 50%;
            margin-right: .5rem;
            color: $color-white;
            background-color: $color-black;
        }
    }
    .footer_logo{
        img{
            width: 10rem;
            height: 10rem;
        }
    }
}