.navbar-brand{
    img{
        width: 300px;
    }
}
nav{
    ul{
        li{
            a{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: $font-menu-1;
                letter-spacing: 1px;
                color: $color-jj_one_dark !important;
            }
        }
    }
}
.dropdown-menu {
    color: $color-jj_one_dark;
    box-shadow: 0px 0px 5px 0px $color-white-dark-2;
    .dropdown-item {
        font-weight: 600;
        letter-spacing: 1px;
    }
    
}
.account_dropdown.dropdown-menu[data-bs-popper] {
    right: 0 !important;
  }
.fa-chevron-down {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.fa-chevron-down.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}