// Tablet Layout
@media only screen and (min-width: 200px) and (max-width: 991px ){
    #home form h2, #home form .h2 {font-size: 1.3rem;}
    #home form button {width: 10rem;}
    #videro_section .btn_red .btn_red_span_1 {letter-spacing: 0.1rem;}
    #videro_section .btn_red span {left: 13%;}
    #videro_section .btn_black span {letter-spacing: 0.1rem; padding: 0.5rem 3rem;}
    #videro_section .btn_red .btn_red_span_2 {font-size: 0.7rem;}
    #testimonials .btn_red .btn_red_span_1 {letter-spacing: 0.1rem;}
    #testimonials .btn_red span {left: 13%;}
    #testimonials .btn_black span {letter-spacing: 0.1rem; padding: 0.5rem 3rem;}
    #testimonials .btn_red .btn_red_span_2 {font-size: 0.7rem;}


}
// Mobile Layout
@media only screen and (min-width:200px) and (max-width: 480px) {
    #home{background-image: none;}
    #home .home_left {background-image:linear-gradient(to right, rgb(238 34 12 / 55%),rgb(0 0 0 / 99%)),url(../../img/jesse/jpg/jesse-james-2.1920x1080.jpg);background-position: center;}
    .home_left_inner{margin-left: 50%;}
    #home .home_left .home_left_inner h1, #home .home_left .home_left_inner .h1 {font-size: 1.3rem;}
    #home .home_left .home_left_inner p {font-size: .7rem;}
    #home .home_left .home_left_inner button {width: 9rem; padding: 0.7rem 0rem;}
    #home .home_right {position: relative;top: 0;}
    #home .home_right form p {font-size: 0.76rem;}
    #home .home_right form button {width: 9rem;padding: 0.7rem 0rem;}
    #videro_section iframe { min-height: 13rem;}
    #videro_section h3, #videro_section .h3 {font-size: 1.2rem;}
    #videro_section p {font-size: 0.7rem;}
    #videro_section .btn_red .btn_red_span_1 {letter-spacing: 0.1rem;}
    #videro_section .btn_red span {left: 13%;}
    #videro_section .btn_red { padding: 1rem 1rem;}
    #videro_section .btn_black span {letter-spacing: 0.1rem;}
    .courses_main .courses h4, .courses_main .courses .h4 {font-size: 1rem;}
    .courses_main .book_a_consultation h4, .courses_main .book_a_consultation .h4 {font-size: 1rem;}
    #testimonials .btn_red .btn_red_span_1 {letter-spacing: 0.1rem;}
    #testimonials .btn_red span {left: 13%;}
    #testimonials .btn_red {padding: 1rem 1rem;}
    #testimonials .btn_black span {letter-spacing: 0.1rem;}
    #accordion .accordion-button { font-size: 1rem;}
}