.slider{
    height: 80vh;
    .carousel-item{
      img{
        height: 80vh;
      }
    }
  }
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-jj-one;
  }
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-white;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #00000080;
    h5{
      color: $color-jj_two_dark;
      font-size: 40px;
      font-family: $jj-font-1;
      text-transform: uppercase;
    }
    h4{
      color: $color-jj-four;
      font-size: 40px;
      font-family: $jj-font-1;
      text-transform: uppercase;
    }
    p{
      font-family: $jj-font-2;
    }
  }
  