// GLOBAL RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem = 10px
}

body {
    line-height: 1.6;
    background-color: $color-black;
    text-align: center;
    color: $color-white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: 90vh;
    grid-row-gap: 2rem;
}

::selection {
    // change for selection of when the user selects text
    background-color: $color-white;
    color: $color-black;
    font-weight: bold;
}