// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
**px / px = em
only screen, media query only applies to screens, example... would not apply to printing
*/

//RESPONSIVE BREAKPOINTS VARIABLES
// $bp-full: 123.75em; //1980px 1980/16px
// $bp-largest: 75em; // 1200px 1200/16px
// $bp-large: 65em; // 1050px 1050/16px
// $bp-medium2: 51em; // 845px 845/16px
// $bp-medium: 50em; // 800px 800/16px
// $bp-small: 35em; // 700px 700/16px
// $bp-smaller: 34em; // 550px 550/16px
// $bp-phone: 20em; // 320px 320/16px
// $bp-micro: 17em; // 272px 272/16px = Apple Watch
// TO USE RESPONSIVE BREAKPOINTS VARIABLES-
// @media only screen and (max-width: $bp-large)

// *** to use =
// @include respond(tab-port) { //media query
//     font-size: 3rem;
// }

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 37.5625em) { @content };     //601px - 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (min-width: 56.3125em) { @content };    //901px - 1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 75.0625em) { @content };    //1201px - 1800
    }
}

@mixin clearfix {
    &::after { //appends pseudo element after
        content: ""; // always state to make pseudo appear but empty to not see it
        display: table; // standard version
        clear: both; // clears float left and/or right
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin  section_head {
    color: $color-jj_one_dark;
    font-size: 2rem;
    font-weight: bold;
    font-family: $jj-font-1;
    text-transform: uppercase;
    text-align: center;
}
@mixin  btn_yellow {
    width: 13rem;
    padding: .7rem 3rem;
    border-radius: 50rem;
    font-weight: 500;
    font-family: $jj-font-2;
    text-transform: uppercase;
    background-color: $color-jj-two;
}
@mixin heading_text {
    font-size: 1.7rem;
    font-weight: bold;
    color: $color-jj-one;
    font-family: $jj-font-1;
}
@mixin peragraph {
    hyphens: auto;
    font-size: .9rem;
    word-break: break-all;
    color: $color-black;
    font-family: $jj-font-2;
}
@mixin button_red {
    width: 100%;
    color: $color-white;
    border-radius: 1.3rem;
    background-color: $color-jj-one;
    i{
        float: left;
        margin: 1rem 0;
        border-radius: 50%;
        position: relative;
        padding: .5rem .7rem;
        color: $color-jj-one;
        background-color: $color-white;
    }
    span{
        float: left;
        text-align: left;
        padding: .5rem 1rem;
        position: absolute;
        left: 10%;
    }
    .btn_red_span_1{
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
    .btn_red_span_2{
        font-size: .9rem;
    }
    
}
@mixin button_black {
    width: 100%;
    color: $color-white;
    position: relative;
    padding-left: 2rem;
    border-radius: 1.3rem;
    background-color: $color-black;
    i{
        float: left;
        margin: 1rem 0;
        border-radius: 50%;
        position: relative;
        padding: .5rem .7rem;
        color: $color-white;
        border: 1px solid $color-white;
    }
    span{
        text-align: center;
        padding: .5rem 5rem;
        position: absolute;
        left: 10%;
        color: $color-white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
}